<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Luthfi | Edit Project</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://dumbways.id/favicon.ico"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/universal.css" />
  </head>
  <body>
    <!-- Nabvar -->
    <nav class="navbar navbar-expand-lg bg-nav-color py-3 sticky-top">
      <div class="container">
        <a class="navbar-brand me-4" href="/">
          <img src="/img/logo.png" alt="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 h5">
            <li class="nav-item me-4">
              <a
                class="nav-link text-dark"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-dark" href="/add-project">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/testimonial">Testimonials</a>
            </li>
          </ul>
          <a
            class="btn btn-dark hover-white"
            type="submit"
            href="/contact-me"
          >Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- form Content -->
    <div class="bg-body-secondary overflow-hidden">
      <div class="container my-5">
        <h1 class="text-center mb-5 fw-bold">Update MY PROJECT</h1>
        <div class="d-flex justify-content-center">
          <form class="w-75" method="POST" action="/add-project">
            <div class="mb-3">
              <label for="project-name" class="form-label fw-bold h5">Project
                Name</label>
              <input
                type="text"
                class="form-control"
                id="project-name"
                aria-describedby="emailHelp"
                style="height: 52px"
                name="project_name"
                value="{{data.project_name}}"
              />
            </div>
            <div class="d-flex gap-4">
              <div class="mb-3 w-50">
                <label for="start-date" class="form-label fw-bold h5">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="start-date"
                  aria-describedby="emailHelp"
                  style="height: 52px"
                  name="start_date"
                  value="{{data.start_date}}"
                />
              </div>
              <div class="mb-3 w-50">
                <label for="end-date" class="form-label fw-bold h5">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="end-date"
                  aria-describedby="emailHelp"
                  style="height: 52px"
                  name="end_date"
                  value="{{data.end_date}}"
                />
              </div>
            </div>
            <div class="mb-3">
              <label
                for="description"
                class="form-label fw-bold h5"
              >Description</label>

              <textarea
                class="form-control"
                id="description"
                rows="5"
                cols="50"
                style="resize: none"
                name="description"
              >{{data.description}}</textarea>
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold h5">Technologies</label>
              <div>
                <div class="d-flex mb-3" style="gap: 90px">
                  <div>
                    <input
                      class="form-check-input rounded me-2"
                      type="checkbox"
                      value="node_js"
                      name="node_js"
                      id="nodeJS"
                      style="width: 25px; height: 25px"
                    />
                    <label
                      class="form-check-label pt-1 h5 fw-bold"
                      for="flexCheckDefault"
                    >
                      Node Js
                    </label>
                  </div>
                  <div>
                    <input
                      class="form-check-input rounded me-2"
                      type="checkbox"
                      value="next_js"
                      name="next_js"
                      id="next_js"
                      style="width: 25px; height: 25px"
                    />
                    <label
                      class="form-check-label pt-1 h5 fw-bold"
                      for="flexCheckDefault"
                    >
                      Next Js
                    </label>
                  </div>
                </div>
                <div class="d-flex" style="gap: 90px">
                  <div>
                    <input
                      class="form-check-input rounded me-2"
                      type="checkbox"
                      value="react_js"
                      name="react_js"
                      id="react_js"
                      style="width: 25px; height: 25px"
                    />
                    <label
                      class="form-check-label pt-1 h5 fw-bold"
                      for="flexCheckDefault"
                    >
                      React Js
                    </label>
                  </div>
                  <div>
                    <input
                      class="form-check-input rounded me-2"
                      type="checkbox"
                      value="typeScript"
                      name="typeScript"
                      id="typeScript"
                      style="width: 25px; height: 25px"
                    />
                    <label
                      class="form-check-label pt-1 h5 fw-bold"
                      for="flexCheckDefault"
                    >
                      TypeScript
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="project-name" class="form-label fw-bold h5">Upload
                Image</label>
              <input
                class="form-control form-control-lg"
                id="formFileLg"
                type="file"
              />
            </div>

            <div class="d-flex justify-content-end">
              <button
                type="submit"
                class="btn btn-primary btn-dark hover-white btn-lg"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div style="display: none;">
      {{#each data.logo_tech}}
        <p class="{{@this}}">{{this}}</p>
      {{/each}}
    </div>

    <!-- end form content -->

    <!-- Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="/js/edit.js"></script>
    <!-- End Script -->
  </body>
</html>